 /* making input drop downs visible */
 .shiny-split-layout > div { /* this targets all div tags that have shiny-split-layout class as the parent */
  overflow: visible;
 }
 .shiny-split-layout .selectize-dropdown {
  z-index: 2000; /* z-index are layers */
 }
 
 
 
 /* make check boxes on data download page even columns and dynamic*/
.shiny-input-checkboxgroup.shiny-input-container-inline label ~ .shiny-options-group {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
 }
 .selectize-input {
   max-height: 200px;
   overflow-y: scroll;
 }
 
 
 
 /* NAVBARMENU STYLING*/
 /* color change when tabPanel is selected in navbarMenu */
 .nav-link.active {
    background-color: #64863C;
 }
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #64863C;
}
 
 
 
/* IMAGE STYLING*/ 
/* resize banner images dynamically */  
img.banner {
  display:block;
  max-width: 100%;
  width: auto; 
}



/* HEADER STYLING */
h2 > span {
  display: flex;
  gap: 0.5rem;
}
/* resize logos in header*/
h2 > span > a > img {
  display: block;
  width: auto;
  max-height: 35px;
}




/* SUBTITLE STYLING */
.subtitle span {
  display: flex;
  gap: 0.4rem;
}



/* FOOTER STYLING */
.footer {
  width: 100%;
}
/* resize logos in footer */
.footer img {
  display: inline-block;
  width: auto;
  max-height: 30px;
}
/* logo positioning and spacing */
.footer span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
/* paragraph elements in footer */
.footer p {
  text-align: center;
}


/* RELATIONSHIPS SITE BOXES */
/*.shiny-spinner-output-container {
  margin-bottom: 1rem;
} */

.italic_site {
  font-style: italic;
  text-align: center;
}