 /* making input drop downs visible */
 .shiny-split-layout > div { /* this targets all div tags that have shiny-split-layout class as the parent */
  overflow: visible;
 }
 
 .shiny-split-layout .selectize-dropdown {
  z-index: 2000; /* z-index are layers */
 }
 
 /* make check boxes on data download page even columns and dynamic*/
.shiny-input-checkboxgroup.shiny-input-container-inline label ~ .shiny-options-group {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
 }
 
 .selectize-input {
   max-height: 200px;
   overflow-y: scroll;
 }
 
 /* color change when tabPanel is selected in navbarMenu */
 .nav-link.active {
    background-color: #64863C;
 }
 
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #64863C;
}
 
/* resize header images dynamically */  
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* resize logos in footer */
span > img {
  max-width: 45%;
  height: 10%;
}

/* resize logos in header*/
h2 > span > img {
  max-width: 10%;
  height: 5%;
}